#dubbo-common
/dubbo-common/.settings/
/dubbo-common/target/
/dubbo-common/.classpath
/dubbo-common/.project


#dubbo-parent
/dubbo-parent/.settings/
/dubbo-parent/.project


#dubbo-user-api
/dubbo-user-api/.settings/
/dubbo-user-api/target/
/dubbo-user-api/.classpath
/dubbo-user-api/.project


#dubbo-user-consumer
/dubbo-user-consumer/.settings/
/dubbo-user-consumer/target/
/dubbo-user-consumer/.classpath
/dubbo-user-consumer/.project


#dubbo-user-provider
/dubbo-user-provider/.settings/
/dubbo-user-provider/target/
/dubbo-user-provider/.classpath
/dubbo-user-provider/.project